:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  
  // body {
  //   margin: 0;
  //   display: flex;
  //   min-width: 320px;
  //   min-height: 100vh;
  // }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background: black;
  color: red;
}
main{
padding: 25px;
background-color: grey;
min-height: 90vh;
}



//da provare night mode css

// .night{
//   html, html * {
//     color: #eeeeee !important;
//     background-color: #292929 !important;
//   }
  
//   img, video {z-index: 1}
//   * {border-color: #555555 !important}
//   cite, cite * {color: #029833 !important}
//   :link, :link * {color: #8db2e5 !important}
//   input, textarea {background-color: #333333 !important}
//   a {background-color: rgba(255, 255, 255, 0.01) !important}
//   :visited, :visited * {color: rgb(211, 138, 138) !important}
//   html, html::before, body, body::before, input, select, button {background-image: none !important}
  
//   video {
//     background-color: transparent !important;
//   }
  
// }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
  